* {
    padding: 0;
    margin: 0;
}

.c-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c-container__title {
    margin-bottom: 3em;
}

.c-container__btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.o-btn {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-family: "CircularBld",sans-serif;
    font-size: 13px;
    margin: 0;
    transition: all .2s ease-out;
    letter-spacing: .35em;
    line-height: 2.54;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
}

.o-btn--black {
    color: #000;
}

.o-btn--black::after {
    background-color: #000;
}

.c-garbage {
    text-align: center;
}

.c-garbage__img {
    width: 25px;
    cursor: pointer;
}

.c-table-container {
    overflow-y: auto;
    height: calc(100vh - 86px);
}
